<h1>ツイート詳細</h1>

<p>
  <strong>メッセージ:</strong>
  <%= @tweet.message %>
</p>

<p>
  <strong>ツイート日時:</strong>
  <%= time_ago_in_words(@tweet.tdate) %>前
</p>

<%= link_to '編集', edit_tweet_path(@tweet) %> |
<%= form_with url: tweet_path(@tweet), method: :delete, local: true do %>
  <%= submit_tag '削除', data: { confirm: '本当に削除しますか？' } %>
<% end %>

<%= link_to '戻る', tweets_path %>
